{% extends "ying/base.html" %}

{% load thumbnail %}

{% block content %}

    {% load thumbnail %}

    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>TMDB</th>
            <th>Count</th>
        </tr>
        {% for category in object_list %}
            <tr>
                <td>
                    <a href="/category/detail/{{ category.id }}">{{ category.id }}</a>
                </td>
                <td>
                    <a href="/movie/search?category_name={{ category.name }}">
                        {% if category.movie_set.all|length > 0 %}
                            {% thumbnail category.movie_set.all.0.poster "x100" crop="center" as im %}
                                <img src="{{ im.url }}"/>
                            {% endthumbnail %}
                            <br>
                        {% endif %}
                        {{ category.name }}
                    </a>
                </td>
                <td>
                    {{ category.tmdb_id }}
                </td>
                <td>
                    {{ category.movie_set.all|length }}
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}