{% extends "ying/base.html" %}

{% load thumbnail %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}

    {% for video in videos %}
        <video width="100%" controls poster="{{ movie_folder.movie.backdrop.url }}" preload="metadata">
            <source src="{{ video }}" type='video/mp4'>
            {% for subtitle in subtitles %}
                <track kind="captions" src="{{ subtitle }}" label="{{ subtitle }}" default>
            {% endfor %}
        </video>
    {% endfor %}

{% endblock %}