{% extends "ying/base.html" %}

{% block content %}
    <form action="https://www.themoviedb.org/search" method="get" target="_blank">
        <input type="text" name="query">
        <button type="submit">Query TMDB</button>
    </form>


    <form action="" method="post">
        <table class="table table-striped table-hover">
            {% csrf_token %}
            {{ form.as_table }}
        </table>
        {% if object %}
            <input type="submit" value="Update"/>
        {% else %}
            <input type="submit" value="Create"/>
        {% endif %}
    </form>
{% endblock %}