{% extends "ying/base.html" %}

{% load thumbnail %}

{% block content %}

    {% load thumbnail %}

    {% include "ying/paginate.html" %}

    <table class="table table-condensed">
        <tr>
            <th style="width: 2%">编号</th>
            <th style="width: 5%">目录名</th>
            <th style="width: 5%">电影</th>
            <th style="width: 5%">原名</th>
            <th style="width: 5%">年份</th>
            <th style="width: 7%">海报</th>
            <th style="width: 18%">剧照</th>
            <th style="width: 5%">分类</th>
            <th style="width: 5%">标签</th>
            <th style="width: 48%">剧情</th>
        </tr>
        {% for movie_folder in object_list %}
            <tr>
                <td>
                    <a href="/movie_folder/detail/{{ movie_folder.id }}">{{ movie_folder.id }}</a>
                </td>
                <td style="word-wrap: break-word">
                    <a href="/movie_folder/play/{{ movie_folder.id }}">
                        <span style="font-size:1.5em" class="glyphicon glyphicon-play"></span>
                    </a>
                </td>
                <td>
                    <a href="/movie/update/{{ movie_folder.movie.id }}">{{ movie_folder.movie.name }}</a>
                </td>
                <td>
                    <a href="/movie/update/{{ movie_folder.movie.id }}">{{ movie_folder.movie.org_name }}</a>
                </td>
                <td>
                    {% if movie_folder.movie.year %}
                        <a href="/movie/search?year={{ movie_folder.movie.year }}">{{ movie_folder.movie.year }}</a>
                    {% endif %}
                </td>
                <td>
                    {% thumbnail movie_folder.movie.poster "x100" crop="center" as im %}
                        <a href="{{ movie_folder.movie.poster.url }}"><img src="{{ im.url }}"/></a>
                    {% endthumbnail %}
                </td>
                <td>
                    {% thumbnail movie_folder.movie.backdrop "x100" crop="center" as im %}
                        <a href="{{ movie_folder.movie.backdrop.url }}"><img src="{{ im.url }}"></a>
                    {% endthumbnail %}
                </td>
                <td>
                    {% for category in movie_folder.movie.category.all %}
                        <a href="/movie/search?category_name={{ category.name }}">{{ category.name }}</a>
                        <br>
                    {% endfor %}
                </td>
                <td>
                    {% for tag in movie_folder.movie.tags.names %}
                        <a href="/movie/search?tag_name={{ tag }}">{{ tag }}</a>
                        <br>
                    {% endfor %}
                </td>
                <td>
                    {{ movie_folder.movie.summary|truncatechars:200 }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% include "ying/paginate.html" %}

{% endblock %}