{% extends "ying/base.html" %}

{% load thumbnail %}
{% load staticfiles %}

{% block content %}

    {% load thumbnail %}

    {% include "ying/query.html" %}

    {% include "ying/paginate.html" %}

    <script src="{% static 'ying/js/movie_list.js' %}"></script>

    <form action="#"></form>

    <div>
        <input type="checkbox" id="check_box_select"/>
        <button id="button_remove_selected"><span class="glyphicon glyphicon-remove"></span>Remove Selected</button>
        <button id="button_add_to_fav"><span class="glyphicon glyphicon-heart"></span>Add to Fav</button>
    </div>

    <table class="table table-condensed">
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>海报</th>
            <th class="visible-lg">剧照</th>
            <th class="hidden-xs">评分</th>
            <th class="hidden-xs">年份</th>
            <th class="hidden-xs" width="40">分类</th>
            <th class="hidden-xs" width="40">标签</th>
            <th class="hidden-xs">剧情</th>
        </tr>
        {% for movie in object_list %}
            <tr>
                <td>
                    <input type="checkbox" name="{{ movie.id }}" class="m_checkbox m_unchecked"/>
                    <a href="/movie/detail/{{ movie.id }}">{{ movie.id }}</a>
                </td>
                <td>
                    <a href="/movie/update/{{ movie.id }}">{{ movie.name }}</a>
                    <br>
                    {{ movie.org_name }}
                </td>
                <td style="position: relative;">
                    {% for movie_folder in movie.moviefolder_set.all %}
                        <a href="/movie_folder/play/{{ movie_folder.id }}">
                            <span style="font-size: 3em;position: absolute;top: 35px;left: 20px;z-index: 10;"
                                  class="glyphicon glyphicon-play"></span>
                        </a>
                    {% endfor %}
                    {% thumbnail movie.poster "x100" crop="center" as im %}
                        <img style="float: left;position: inherit;z-index: 1;" src="{{ im.url }}"/>
                    {% endthumbnail %}
                </td>
                <td class="visible-lg">
                    {% thumbnail movie.backdrop "x100" crop="center" as im %}
                        <img style="float: left;position: inherit;z-index: 1;" src="{{ im.url }}"/>
                    {% endthumbnail %}
                </td>
                <td class="hidden-xs">
                    {{ movie.tmdb_score }}
                </td>
                <td class="hidden-xs">
                    {% if movie.year %}
                        <a href="/movie/search?year={{ movie.year }}">{{ movie.year }}</a>
                    {% endif %}
                </td>
                <td class="hidden-xs">
                    {% for category in movie.category.all %}
                        <a href="/movie/search?category_name={{ category.name }}">{{ category.name }}</a>
                        <br>
                    {% endfor %}
                </td>
                <td class="hidden-xs">
                    {% for tag in movie.tags.names %}
                        <a href="/movie/search?tag_name={{ tag }}">{{ tag }}</a>
                        <br>
                    {% endfor %}
                </td>
                <td class="hidden-xs">
                    {{ movie.summary|truncatechars:80 }}
                </td>
            </tr>
        {% endfor %}
    </table>

    </form>

    {% include "ying/paginate.html" %}


{% endblock %}