{% extends "ying/base.html" %}

{% load thumbnail %}

{% block content %}
    {% include "ying/paginate.html" %}

    {% load thumbnail %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for movie in object_list %}
                {% if movie.poster %}
                    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
                {% endif %}
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for movie in object_list %}
                {% if movie.poster %}
                    {% if forloop.counter0 == 0 %}
                        <div class="item active">
                            <a href="{{ movie.poster.url }}">
                                {% thumbnail movie.poster "x400" crop="center" as im %}
                                    <img src="{{ im.url }}" width="100%">
                                {% endthumbnail %}
                            </a>
                        </div>
                    {% else %}
                        <div class="item">
                            <a href="{{ movie.poster.url }}">
                                {% thumbnail movie.poster "x400" crop="center" as im %}
                                    <img src="{{ im.url }}" width="100%">
                                {% endthumbnail %}
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

{% endblock %}