{% extends "ying/base.html" %}

{% block content %}

    {% if object %}

        {% load thumbnail %}

        <div>
            <div>
                <a href="/movie/update/{{ object.id }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a href="/movie/delete/{{ object.id }}" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span> Delete</a>
            </div>
            <table class="table table-striped">
                <tr>
                    <td>Name</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>Original Name</td>
                    <td>{{ object.org_name }}</td>
                </tr>
                <tr>
                    <td>Score</td>
                    <td>{{ object.tmdb_score }}</td>
                </tr>
                <tr>
                    <td>Poster</td>
                    <td>
                        {% thumbnail movie.poster "x100" crop="center" as im %}
                            <a href="{{ movie.poster.url }}"><img src="{{ im.url }}"/></a>
                        {% endthumbnail %}
                    </td>
                </tr>
                <tr>
                    <td>Backdrop</td>
                    <td>
                        {% thumbnail movie.backdrop "x100" crop="center" as im %}
                            <a href="{{ movie.backdrop.url }}"><img src="{{ im.url }}"/></a>
                        {% endthumbnail %}
                    </td>
                </tr>
            </table>
        </div>
        <div>
            {% for folder in object.moviefolder_set.all %}
                <div>
                    <div>Folder:
                        <a href="movie_folder/detail/{{ folder.id }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="/movie_folder/play/{{ folder.id }}">
                            {{ folder.name }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endif %}


{% endblock %}