{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">

            <a class="btn btn-primary {% if not page_obj.has_previous %} disabled {% endif %} "
               href="?page=1{% if year %}&year={{ year }}&score_min={{ score_min }}&score_max={{ score_max }}{% endif %}{% for tag in tag_name %}&tag_name={{ tag }}{% endfor %}{% for category in category_name %}&category_name={{ category }}{% endfor %}">
                <span class="glyphicon glyphicon-fast-backward"></span>
            </a>
            <a class="btn btn-primary {% if not page_obj.has_previous %} disabled {% endif %}"
                    {% if page_obj.has_previous %}
               href="?page={{ page_obj.previous_page_number }}{% if year %}&year={{ year }}&score_min={{ score_min }}&score_max={{ score_max }}{% endif %}{% for tag in tag_name %}&tag_name={{ tag }}{% endfor %}{% for category in category_name %}&category_name={{ category }}{% endfor %}"
                    {% endif %}>
                <span class=" glyphicon glyphicon-backward"></span>
            </a>

            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            <a class="btn btn-primary
                {% if not page_obj.has_next %} disabled {% endif %} "
                    {% if page_obj.has_next %}
               href="?page={{ page_obj.next_page_number }}{% if year %}&year={{ year }}&score_min={{ score_min }}&score_max={{ score_max }}{% endif %}{% for tag in tag_name %}&tag_name={{ tag }}{% endfor %}{% for category in category_name %}&category_name={{ category }}{% endfor %}"
                    {% endif %} >
                <span class="glyphicon glyphicon-forward"></span>
            </a>
            <a class="btn btn-primary {% if not page_obj.has_next %} disabled {% endif %} "
               href="?page={{ page_obj.paginator.num_pages }}{% if year %}&year={{ year }}&score_min={{ score_min }}&score_max={{ score_max }}{% endif %}{% for tag in tag_name %}&tag_name={{ tag }}{% endfor %}{% for category in category_name %}&category_name={{ category }}{% endfor %}">
                <span class="glyphicon glyphicon-fast-forward"></span>
            </a>

        </span>
    </div>
{% endif %}
