<div id="query_form">
    <a href="#query_div" data-toggle="collapse">
        <span class="glyphicon glyphicon-search"></span>
        当前位置：{% for tag in tag_name %} {{ tag }} ; {% endfor %}
        {% for category in category_name %} {{ category }} ; {% endfor %}
        {{ year }}
        {% if only_downloaded %} 仅限已下载 ; {% endif %}
        {% if q %}  {{ q }} {% endif %}
    </a>
    <div id="query_div" class="collapse">
        <form action="/movie/search" class="form-inline">
            <div class="form-group">
{#                <label for="tag">Tag:</label>#}
                <select id="tag" name="tag_name" class="form-control" multiple>
                    {#                <option value="" {% if not tag_name %}selected=""{% endif %}></option>#}
                    {% for tag in tag_list %}
                        <option value="{{ tag.name }}" {% if tag.name in tag_name %}selected=""{% endif %}>
                            {{ tag.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
{#                <label for="category">Category:</label>#}
                <select id="category" name="category_name" class="form-control" multiple>
                    {#                <option value="" {% if not category_name %}selected=""{% endif %}></option>#}
                    {% for category in category_list %}
                        <option value="{{ category.name }}"
                                {% if category.name in category_name %}selected=""{% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="score_min">Score:</label>
                <input id="score_min" type="number" name="score_min" min="0" max="10"
                       {% if score_min %}value="{{ score_min }}"{% endif %}>
                <label for="score_max">-</label>
                <input id="score_max" type="number" name="score_max" min="0" max="10"
                       {% if score_max %}value="{{ score_max }}"{% endif %}>
            </div>

            <div class="form-group">
                <label for="year">Year:</label>
                <input id="year" type="number" name="year" min="1900" max="2020"
                       {% if year %}value="{{ year }}"{% endif %}>
            </div>


            <div class="form-group">
                <label for="year">Keyword:</label>
                <input id="q" type="text" name="q" {% if q %}value="{{ q }}"{% endif %}>
            </div>

            <button type="submit" class="btn btn-default">Query</button>
        </form>
    </div>
</div>